body {
    margin: 0;
    background: white;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background: #008b8b;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header::after{
    content: '';
    display: table;
    clear: both;
}
nav{
    float: center;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    transform: translate(-50%,-50%);
}

nav a.hover{
    color: black;
}
nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: lightseagreen;
    position: relative;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}
